<% provide(:title, "About") %>
<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) %> | learnmesomecodes bye felicia</title>
  </head>
  <body>
    <h1>learnmesomecodes bye felicia</h1>
  </body>
</html>
