<% provide(:title, "Contact") %>
<!DOCTYPE html>
<html>
  <head>
    <title><%= yield(:title) %> | reach out mofo</title>
  </head>
  <body>
    <p>
      contact cheeze if you'd like to chit chat <a href="http://www.justinveirs.me/">mofo!</a>
    </p>
  </body>
</html>
