<!DOCTYPE html>
<html>
  <head>
    <title>mofo</title>
  </head>
  <body>
    <div class="container">
      <h1>mofo check dis.</h1>
      <a href="http://www.justinveirs.me/">another mofo!</a>
    </div>
  </body>
</html>
