<!DOCTYPE html>
<html>
  <head>
    <title>mofo</title>
  </head>
  <body>
    <h1>this is a mofo app.</h1>
    <p>
      this isnt the home page for shit; i'd like to have some sausage and french toast with extra syurp mofo
    </p>
  </body>
</html>
